footer {
    background-color: var(--blanco);
}
footer section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    
}
footer section article {
    margin: 20px 30px;
}
footer section article p i {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    color: var(--celeste);
}