footer {
    background-color: var(--blanco);
    text-align: center;
    padding-top: 0;
}

footer section {
    margin: 30px 30px;

}
footer section:last-child {
    text-align: left;
}
footer section h4{
    font-size: 16px;
    font-weight: bold;
}
footer section i {
    color: var(--celeste);
    font-size: var(--iconos);
    margin: 10px 0;
}