:root {
    --amarillo: #EAC926;
--azul: #03264C;
--celeste: #1259c3;
--grisOscuro: #666;
--grisClaro: #d1d1d1;
--verde: #39b54a;
--negro: black;
--blanco: white;
--precios: 20px;
--descuentosYdescripciones: 16px;
--titulares: 24px;
--iconos: 2em;
}
